In [1]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [2]:
import numpy as np

In [3]:
tickers=['MSFT','AAPL','SPY']

sec_data=pd.DataFrame()

for t in tickers:
    sec_data[t]=pdr.get_data_yahoo(t, start='1997-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
sec_data.head()

                MSFT      AAPL        SPY
Date
1997-01-02  6.381656  0.159828  46.662094
1997-01-03  6.616204  0.165536  47.331795
1997-01-06  6.596661  0.136044  46.918159
1997-01-07  6.645521  0.133190  47.489365
1997-01-08  6.518477  0.134142  47.075737

In [5]:
sec_data.tail()

                  MSFT        AAPL         SPY
Date
2023-01-23  242.580002  141.110001  400.630005
2023-01-24  242.039993  142.529999  400.200012
2023-01-25  240.610001  141.860001  400.350006
2023-01-26  248.000000  143.960007  404.750000
2023-01-27  248.250000  146.389999  406.359985

In [6]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6562 entries, 1997-01-02 to 2023-01-27
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    6562 non-null   float64
 1   AAPL    6562 non-null   float64
 2   SPY     6562 non-null   float64
dtypes: float64(3)
memory usage: 205.1 KB

In [7]:
#.shift(n) shifts data n spaces back
sec_returns=(sec_data/sec_data.shift(1)) - 1
sec_returns

                MSFT      AAPL       SPY
Date
1997-01-02       NaN       NaN       NaN
1997-01-03  0.036753  0.035712  0.014352
1997-01-06 -0.002954 -0.178160 -0.008739
1997-01-07  0.007407 -0.020978  0.012175
1997-01-08 -0.019117  0.007143 -0.008710
...              ...       ...       ...
2023-01-23  0.009824  0.023500  0.011999
2023-01-24 -0.002226  0.010063 -0.001073
2023-01-25 -0.005908 -0.004701  0.000375
2023-01-26  0.030714  0.014803  0.010990
2023-01-27  0.001008  0.016880  0.003978

[6562 rows x 3 columns]

In [9]:
sec_returns[['MSFT','AAPL','SPY']].mean()

MSFT    0.000755
AAPL    0.001416
SPY     0.000408
dtype: float64

In [10]:
#multiply by 250 to get yearly
sec_returns[['MSFT','AAPL','SPY']].mean()*250

MSFT    0.188729
AAPL    0.354072
SPY     0.102121
dtype: float64

In [11]:
sec_returns[['MSFT','AAPL','SPY']].var()

MSFT    0.000394
AAPL    0.000734
SPY     0.000157
dtype: float64

In [12]:
sec_returns[['MSFT','AAPL','SPY']].var()*250

MSFT    0.098534
AAPL    0.183470
SPY     0.039246
dtype: float64

In [13]:
sec_returns[['MSFT','AAPL','SPY']].std()

MSFT    0.019853
AAPL    0.027090
SPY     0.012529
dtype: float64

In [14]:
#yearly returns for std need to be square rooted as well
sec_returns[['MSFT','AAPL','SPY']].std()*250**0.5

MSFT    0.313901
AAPL    0.428334
SPY     0.198107
dtype: float64

In [15]:
sec_returns.cov()

          MSFT      AAPL       SPY
MSFT  0.000394  0.000238  0.000172
AAPL  0.000238  0.000734  0.000175
SPY   0.000172  0.000175  0.000157

In [16]:
sec_returns.corr()

          MSFT      AAPL       SPY
MSFT  1.000000  0.442830  0.690301
AAPL  0.442830  1.000000  0.515313
SPY   0.690301  0.515313  1.000000

In [17]:
#np.array is an array constructor
weights=np.array([.4,.4,.2])

In [19]:
#.dot() returns dot product, returns summed sec_returns*weights
pfolio_ret=np.dot(sec_returns,weights)

In [20]:
pfolio_ret

array([        nan,  0.03185661, -0.07419336, ..., -0.00416858,
        0.02040486,  0.00795063])

In [24]:
pfolio_ret=pfolio_ret[~np.isnan(pfolio_ret)]

In [25]:
pfolio_ret

array([ 0.03185661, -0.07419336, -0.00299363, ..., -0.00416858,
        0.02040486,  0.00795063])

In [26]:
pfolio_ret.var()*250

0.07959613430790508

In [27]:
pfolio_ret.std()*250**0.5

0.2821278687189641